* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home-contener {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(250, 250, 253);
    border-top: 1px solid rgb(241, 241, 244);
  }
  
  .home-main {
    background-image: url('/AC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    position: relative;
  }
  

  .home-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 47, 60, 0.3);
    z-index: 0;
  }
  .home-main > * {
    position: relative;
    z-index: 1;
  }
  .home-main .para h1,
  .home-main .para p,
   .home-learn-more{
    transition: transform 0.3s ease,
    color 0.3s ease,
    text-shadow 0.3s ease;
  }
  
  .home-main .para:hover h1 {
    transform: translateY(-10px);
    color: rgb(241, 121, 9);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  }

  
  .home-main .para:hover p {
    transform: translateY(-5px);
    color: rgb(241, 121, 9);
  }


  .home-main .para h1 {
    font-size: 3.5rem;
    animation: slideDown 1s ease-out;
  }
  
  .home-main .para p {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    animation: fadeIn 1.5s ease-in;
  }
  
  .home-learn-more,.home-learn-service{
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 0.8rem 2rem; 
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: popUp 1.8s ease;
  }
  
  .home-learn-more:hover,.home-learn-service:hover{
    transform: scale(1.03); 
    background-color: #0056b3;
  }
  .home-learn-service{
    padding: 1rem 4rem;
    font-size: 1.1rem;
  }
  
  .home-section-title{
    font-size: 2.2rem; 
    text-align: center;
    margin: 1rem 0 2rem; 
    color: rgb(2, 28, 101); 
}

  .home-service-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  

  .home-service-card {
    background: #ffffff;
    border: 2px solid rgb(231, 228, 228);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


  .choose-us-section{
    background: #e9ecef;
    padding: 1rem 0;
}

  .home-choose-title {
    font-size: 2.4rem; 
    text-align: center;
    margin: 3.5rem 0 2rem; 
    color: #060505;
}
  .home-choose-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    padding: 2rem 2rem 4.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .home-choose-card {
    background: #fff;
    border: 2px solid rgb(237, 235, 235);
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.07);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
 
  
.home-choose-card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}
  
  .home-choose-icon {
    font-size: 2.8rem;
    color: rgb(2, 28, 101);
    margin-bottom: 1.2rem; 
    display: inline-block;
  }
  
  .home-choose-card h4 {
    font-size: 1.4rem; 
    color: #222;
    margin-bottom: 0.5rem;
  }
  
  .home-choose-card p {
    font-size: 1rem;     
    color: #555;
  }
  
  .home-service-card::after, .home-choose-card::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #1D4ED8; 
    transition: width 0.4s ease-in-out;
  }
  
  .home-service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
  }
  
  .home-service-card:hover::after,
  .home-choose-card:hover::after {
    width: 100%;
  }
  
  .home-service-card .icon {
    font-size: 2.8rem; 
    margin-bottom: 1.2rem; 
    color: rgb(2, 28, 101);
  }
  
  .home-service-card h3 {
    font-size: 1.5rem; 
    color: #333;
    margin-bottom: 1.1rem;
  }
  
  .home-intro, .home-why-us, .home-gallery-preview, .home-testimonials, .home-cta-strip ,.choose-us-section{
    max-width: 1100px;
    margin: 3rem auto; 
    padding: 1.5rem; 
    text-align: center;
    border: 1px solid #e0dfdf; 
    border-radius: 8px; 
    background-color: #fffefe; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  .home-intro,.home-testimonials{
    background-color: #f5f5f5;
  }
  
  
  .home-intro p, .home-why-us ul{
    font-size: 1.15rem; 
    color: #495057; 
    line-height: 1.7;
  }
  
  .home-why-us ul {
    list-style: none;
    padding: 0;
  }
  
  .home-why-us li {
    margin: 0.7rem 0; 
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-why-us li::before {
    content: "\2713";
    display: inline-block;
    margin-right: 0.8rem;
    color: rgb(2, 28, 101); 
    font-size: 1.2rem;
}
  
  .home-gallery-grid {
    display: flex;
    justify-content: center;
    gap: 1.2rem; 
    animation: slideGallery 25s linear infinite;
    width: max-content;
    flex-wrap: nowrap;
  }
  
  .home-gallery-grid img {
    width: 320px;
    max-width: 320px;
    height: auto;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ddd;
  }
  
  .home-gallery-grid img:hover{
    transform: translateY(-6px); 
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  }

  .home-gallery-preview {
    background-color: #ffffff; 
    overflow: hidden;
    position: relative;
    border-radius: 8px; 
  }
  
  @keyframes slideGallery {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }


  .home-testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem; 
  }
  
  .home-testimonial {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
  }
  

  .home-cta-strip {
    background: linear-gradient(to right, #eff5f6, #f6f8f8); 
    color: rgb(2, 28, 101); 
    padding: 2.5rem 1.5rem;
    border-radius: 8px; 
    margin-bottom: 3.5rem;
    text-align: center;
  }
  
  .home-cta-strip h3 {
    font-size: 2rem; 
    margin-bottom: 0.8rem;
    font-weight: 600;
    color: rgb(2, 28, 101);
  }
  
  .home-cta-strip p {
    font-size: 1.25rem; 
    margin-bottom: 1.2rem;
    color: #333;
  }
    
  @keyframes slideDown {
    from {
      transform: translateY(-40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes popUp {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  
  @media (max-width: 768px) {
    .home-main .para h1 {
      font-size: 1.3rem;
    }
  
    .home-main .para p {
      font-size: 0.8rem;
    }
  
     .home-learn-service {
      font-size: 0.8rem;
      padding: 0.5rem 1.2rem;
    }
  
    .home-service-grid,
    .home-choose-us,
    .home-testimonial-grid {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
  
    .home-gallery-grid img {
      width: 90%;
      height: auto;
    }
    .home-main{
        min-height :auto;
    }
    .home-intro, .home-why-us, .home-gallery-preview, .home-testimonials, .home-cta-strip, .choose-us-section {
      margin: 2rem auto;
    }
    .home-section-title {
      font-size: 1.2rem;
      margin: 0;
      padding-bottom: 10px;
    }
    .home-intro p, .home-why-us ul, .home-testimonials p {
      font-size: 0.9rem;
      line-height: 1.4;
    }
    .home-choose-icon {
      font-size: 1.5rem;
      margin-bottom: 1rem;

    }
    .home-service-card h3 {
      font-size: 1rem;
    }
    .home-learn-service {
      margin-top: 26px;
    }
     .home-learn-more{
      margin-top:10px;
      font-size: 12px;
     }
    .home-choose-card h4{
      font-size: 1rem;
    }
    .home-choose-card p{
      font-size: 0.9rem;
    }
    .home-gallery-grid img{
      max-width: 166px;
    }
    .home-cta-strip h3 {
      font-size: 1.3rem;
    }
    .home-cta-strip p {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: #333;
   }
  }

  .home-feedback_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.home-feedback-name,
.home-feedback-textarea,
.home-rating-block {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 15px;
    gap: 10px;
}

.home-feedback-name label,
.home-feedback-textarea label,
.home-rating-block label {
    margin-right: 30px;
    font-size: 1.5rem;
}

.home-name-input,
.home-feedback-text {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.home-rating-stars span {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    margin-bottom: 10px;
}

.home-rating-stars .star {
    transition: color 0.3s;
}

.home-rating-stars .star.selected {
    color: #ffc107;
}

.home-testimonial-stars {
    color: #ffc107;
    font-size: 1.2rem;
    margin: 8px 0;
}

.home-toggle-feedback-button {
    margin-bottom: 2rem;
    padding: 0.8rem 2rem; 
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: popUp 1.8s ease;
}



@media (max-width: 768px) {
    .home-feedback-name,
    .home-feedback-textarea,
    .home-rating-block {
        display: flex;
        align-items: center;
        width: 80%;
        margin-bottom: 15px;
        gap: 10px;
    }

    .home-feedback-name label,
    .home-feedback-textarea label,
    .home-rating-block label {
        margin-right: 0;
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    .home-rating-stars span {
        font-size: 1.8rem;
    }

    .home-toggle-feedback-button {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .home-feedback_section {
        padding: 15px;
    }

    .home-feedback-name label,
    .home-feedback-textarea label,
    .home-rating-block label {
        font-size: 1rem;
    }

    .home-rating-stars span {
        font-size: 1.5rem;
    }

    .home-toggle-feedback-button {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
    }
}
