.navbar{
    width: 100%;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
.nav-contain{
   padding: 20px;
}
.home{
    text-decoration: none;
    color: dimgrey;
    padding: 20px;
}
.about{
    text-decoration: none;
    color: dimgrey;
    padding: 20px;
}

.contact{
    text-decoration: none;
    color: dimgrey;
    padding: 20px;
}

.service{
    text-decoration: none;
    color: dimgrey;
    padding: 20px;
}

.gallary{
    text-decoration: none;
    color: dimgrey;
    padding: 20px;

}
  .nav-link {
    margin-right: 20px;
    text-decoration:none;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: #007bff;
    text-decoration:underline; 
  }
  .nav-link.active {
    color: #007bff; 
    font-weight: bold;
    text-decoration:underline;
  }
  