
.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0.5rem 2rem;
  position: relative; 

}


.navbar img {
  width: 150px;
}

.nav-contain {
  display: flex;
  justify-content: space-between;
  width: 50%;
  transition: all 0.3s ease;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  border-bottom: 2px solid rgb(3, 3, 162);
}

.nav-link:focus {
  color: rgb(1, 1, 158);
}


.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10; 
}

.line {
  width: 30px;
  height: 4px;
  background-color: black;
}


@media (max-width: 768px) {
  .nav-contain {
    display: none;
    width: 100px;  
    flex-direction: column;
    align-items: flex-start;  
    position: absolute;
    top: 60px; 
    right: 0;  
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
  }

  .nav-contain.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-link {
    padding: 10px;
    width: 100%;
    text-align: center; 
    border-top: 1px solid #ddd; 
  }
}
