.service-background {
    background-image: url('/service-images.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 120px 0 0 110px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
  }
  
  .service-heding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    z-index: 2;
  }
  
  .service-heding h1,
  .service-heding p{
    transition: transform 0.3s ease,
    color 0.3s ease,
    text-shadow 0.3s ease;
  }
  
  .service-heding:hover h1{
    transform: translateY(-10px);
    color:  rgb(2, 2, 131);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  }

  
  .service-heding:hover p {
    transform: translateY(-5px);
    color: rgb(28, 27, 27);
  }


  .service-heding h1 {
    font-size: 2rem;
    animation: slideDown 1s ease-out;
    color: rgb(241, 121, 9);
  }
  
  .service-heding p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    animation: fadeIn 1.5s ease-in;
    color: rgb(11, 11, 11);
  }
  
  @media (max-width: 768px) {
    .service-background {
      padding: 40px 20px;
    }
  
    .service-heding h1 {
      font-size: 32px;
    }
  
    .service-heding p {
      font-size: 18px;
    }
    .service-background{
      min-height: 0;
    }
  }
  